/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
===================================
RESET
===================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===================================
BODY
===================================
*/

body {
  background-image: repeating-linear-gradient(#3F51B5, #000000, #3F51B5);
  font: 20px "Arial";
}

section {
  float: center;
}

li {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}

/*
===================================
HEADER
===================================
*/

header {
  background-color: #00BCD4;
  font-size: 35px;
  text-align: center;
  display: inline-block;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

header .home-btn {
  float: left;
  margin-left: 5%;
  width: fit-content;
}

header input.button{
  background-color: #E91E63;
  color: white;
  float: right;
  border-radius: 15px;
  margin-right: 5%;
  margin-top: 5px;
  padding: 5px 2%;
}

/*
===================================
TOP NAV
===================================
*/
.container {
  margin: 10px 10px;
  padding: 10px 30px;
  width: auto;
}

.container .showNew {
  float: center;
  margin-top: 5%;
  padding-left: 35%;
}

.container .profile {
  background-color: springgreen;
  text-align:center;
  font-size: 32px;

  float: center;
  margin: auto;
  margin-top: 5%;
  padding: 3% 3%;
  width: 50%;
  border-radius: 6px;
}
/*
===================================
LEFT NAV
===================================
*/

.left-nav {
  clear: both;
  float: left;
  width: 15%;
  margin-top: 4%;

  border-right: 2px solid gray;
  border-radius: 12px;
}

section .button {
  background-color: #E91E63;
  color: white;
  display: block;
  border-radius: 15px;
  padding: 12px 20%;
}

/*
===================================
TIMELINE
===================================
*/

div.tweet {
  background-color: #03A9F4;
  color: white;
  text-align: left;

  float: center;
  width: 65%;
  border-radius: 15px;
  display: block;
  margin: 5px auto 0px auto;
  padding: 20px 10px;
}

p.timestamp {
  color:#795548;
  font-size: 14px;
  float: right;
}

p.user {
  font-weight: bold;
  font-size: 15px;
}
p.user:hover{
  color: goldenrod;
  text-decoration: underline;
  cursor: pointer;
}

p.message {
  padding-top: 10px;
}