/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/*
===================================
RESET
===================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
	border-spacing: 0;
}

/*
===================================
BODY
===================================
*/

body {
  background-color: white;
	font: 20px "Arial";
}

section {
/*   background-color:#ffffff; */
  float: center;
/*   padding: 0 0 0 300px; */
}

li {
  margin: 0 0 15px 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: orange;
}

/*
===================================
HEADER
===================================
*/

header {
  color: cyan;
  font-size: 35px;
  display: block;
  text-align: center;
  margin: 0 10px;
  padding: 0 30px;
  width: auto;
}

/*
===================================
TOP NAV
===================================
*/
.container {
	margin: 10px 10px;
	padding: 10px 30px;
	width: auto;
}

.container .refresh{
	float: center;
	padding-left: 35%;
	padding-bottom: 4%;

/*     margin: 10px 360px;
    padding-bottom: 50px;
    border-radius:12px;
    float: center;
    width: 900px; */
  }

/*
===================================
LEFT NAV
===================================
*/

.left-nav {
  clear: both;
	float: left;
	padding-left: 10%;

	width: 15%;
	border-right: 2px solid gray;
	border-radius: 12px;
}

section .button {
  background-color: #E91E63;
  color: white;
  border-radius: 15px;
  display: block;
  padding: 12px 20%;
}

/*
===================================
TIMELINE
===================================
*/

div.tweets {
	float: right;
	width: auto;
	background-color: #03A9F4;
	color: white;
	border-radius: 10px;
	text-align: left;
	display: block;
	padding: 20px 10px;
	margin: 2px 7%;
	width: 50%;
	right: 12%;
	position: relative;
}
